div {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;

}

.first-box-container {
    width: 200px;
    height: 100px;
    background-color: red;
    position: absolute;
    border-color: green;
    border-width: 10px;
    border-style: solid;
  }
  
  .second-box-container {
    width: 200px;
    height: 100px;
    background-color: yellow;
    position: absolute;
    left: 250px;
    border-color: blue;
    border-width: 10px;
    border-style: solid;
  }
  
  .third-box-container {
    width: 200px;
    height: 100px;
    background-color: green;
    position: absolute;
    left: 500px;
    border-color: red;
    border-width: 10px;
    border-style: solid;
  }